* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: #f9f9f9;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: rgb(36, 32, 32);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0px 0 30px;
}

nav > img {
  width: 100px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.imgur.com/uRkioC8.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 70px;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  body > main {
    background-image: url("https://i.imgur.com/GmyRAlV.png");
  }
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 30px;
  font-size: 30px;
  text-decoration: none;
  padding: 30px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  color: black;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}
form, form * { 
  color: black !important;
  align-items: center;
  margin-top: 30px;
}

textarea {

}

#new-form *,
#add-details-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

#new-form input[type="submit"] {
  color: black;
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  align-items: left;
}

table {
  font-size: 30px;
}

table thead th {
  padding: 10px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: left;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #0000002e;
  padding: 4px;
  text-decoration: none;
  font-size: 20px;
}

#list a:hover {
  background-color: rgba(164, 0, 0, 0.538);
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  font-size: 25px;
  max-width: 1000px;
  line-height: 30px;
}


#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #0f6276;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.details-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-user img {
  border-radius: 50%;
  height: 40px;
}

  input[type="text"],
  select,
  input[type="file"] {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }

  .image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .custom-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .custom-button:hover {
    background-color: #45a049;
  }
  
.custom-date-input {
  background-color: #f2f2f2;
  color: #333; /* Set the text color */
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.custom-date-input:focus {
  border-color: #007bff;
}

.delete-button {
  color: rgb(255, 0, 0);
}

.update-button {
  color: rgb(0, 0, 255);
}

.ticket-button {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background: green
}

