<%- include('../partials/header') %>


<table id="list">
  <thead>
    <tr>
      <th>GIG BOARD</th>
    </tr>
  </thead>
  <tbody>
    <% gigs.forEach(function(m) { %>
      <tr>
          <td><%= m.title %></td>
          <td>
            <a href="/gigs/<%= m._id %>">DETAILS</a>
          </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>


  
<%- include('../partials/footer') %>
