<%- include('../partials/header') %>


<form id="new-form" action="/gigs" method="POST" enctype="multipart/form-data">
  <label>Band/Artist:</label>
  <input type="text" name="title">
  <label>Support:</label>
  <input type="text" name="support">
  <label>Venue:</label>
  <input type="text" name="venue">
  <label>Date:</label>
  <input type="date" name="date" class="custom-date-input">
  <label>Time:</label>
  <input type="text" id="time" name="time">
  <label>Price:</label>
  <input type="text" name="price">
  <label>Ticket Link:</label>
  <input type="url" name="website">
  <label>Spotify Link:</label>
  <input type="url" name="website">
  <label>Image:</label>
  <input type="file" name="image">
  <input type="submit" value="Add Gig" class="custom-button">
</form>




<%- include('../partials/footer') %>
